.conteudo-admin{

    a.botao-padrao{
      cursor: pointer;
      .inline;
      padding: 10px 20px;
      border: 1px @verde solid;
      .opensans(15px, bold);
      color: #fff;
      background: @verde;
      transition: all .3s ease-in;
      margin: 14px 0;
      &:active, &:visited{color:#fff;}
      &:hover{
        background: @verde_claro;
        color:@verde;
      }
    }

    ul.padrao{
        border-bottom: 1px @verde solid;
        li{
            background: #fff;
            color:@verde;
            padding: 6px 0 6px 3px;
            border-top: 1px @verde solid;
            .opensans(15px);
            display: block;
            &.erro{color:@vermelho;}
        }
    }

  h2{
    .opensans(22px, bold);
    color: @verde;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
    span{
      .inline;
      padding: 0 60px;
      border-bottom: 1px @verde solid;
    }
    @media @small{
      line-height: 160%;
      span{
        padding: 0 15px;
      }
    }
  }

  p{
    .opensans(14px);
    color: @cinza;
    line-height: 150%;
    margin-bottom: 25px;
    span{
      color: @vermelho;
      font-size: 16px;
      font-weight: bold;
      padding: 0 20px 0 10px;
    }
    &.destaque{
      text-align: center;
      margin: 30px 0 100px 0;
      font-size: 18px;
    }
    &.titulo-categoria{
      padding-left: 140px;
      span{
        float: left;
        margin-left: -140px;
      }
    }
  }

  .lista-coordenadores{
    margin-top: 50px;
  }

  .lista-avaliacoes{
    margin-top: 80px;
  }

  .lista-ranking{
    margin-top: 80px;
    width: 100%;
    counter-reset: ranking;
    .linha{
      width: 100%;
      @media @large{
        align-items: stretch;
        display: flex;
      }
    }
    position: relative;
    &:after{
      content: attr(data-label);
      .opensans(16px, bold);
      color:@vermelho;
      position: absolute;
      top:0;
      left: 20px;
      transform: translateY(-170%);
    }
  }

  .linha-loader{
    height: 50px;
    margin: 15px 0;
    text-align: center;
    background: url('/images/loader.svg') center center no-repeat;
  }

  .lista-coordenadores,
  .lista-casos,
  .lista-avaliacoes,
  .lista-ranking{
    margin: 40px 0;
    .linha{
      background: #fff;
      font-size: 0;
      min-height: 60px;
      border: 1px @verde solid;
      border-bottom: none;      
      @media @small{
        min-height: 30px;
        margin-bottom: 5px;
        border-bottom: 1px @verde solid;
      }

      &:last-child{
        border-bottom: 1px @verde solid;
      }

      &.com-titulo:first-child{
        position: relative;
        &:after{
          content: attr(data-label);
          .opensans(16px, bold);
          color:@vermelho;
          position: absolute;
          top:0;
          left: 20px;
          transform: translateY(-170%);
        }
      }


      .nenhum{
        width: 100%;
        line-height: 60px;
        text-align: center;
        .opensans(20px, bold);
        color:@verde;
        @media @small{
          box-sizing: border-box;
          padding: 10px;
          font-size: 18px;
          line-height: 110%;
        }
      }


      .titulo{
        .inline;
        width: 25%;
        height: 60px;
        @media @medium{
          width: 30%;
        }
        a{
          display: block;
          transition: background .3s ease-in;
          span{
            .inline;
            line-height: 60px;
            .opensans(16px);
            color: @verde;
            box-sizing: border-box;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 55px 0 20px;
            background: url('/images/icone_download.png') right center no-repeat;
            transition: color .3s ease-in;
          }
          &:hover{
            background: @verde;
            span{
              color:#fff;
            }
          }
        }
        @media @small{
          width: 100%;
          height: auto;
          min-height: 60px;
          a{
            span{
              width: 100%;
              background-position: 90% center;
            }
          }
        }
      }

      .data{
        .inline;
        width: 23%;
        @media @medium{
          width: 28%;
        }
        span{
          height: 60px;
          line-height: 60px;
          border-right: 1px @verde solid;
          border-left: 1px @verde solid;
          display: block;
          text-align: center;
          box-sizing: border-box;
          padding: 0 20px;
          .opensans(20px, bold);
          color:@cinza;
        }
        @media @small{
          width: 100%;
          span{
            height: auto;
            line-height: 140%;
            font-size: 14px;
            width: 100%;
            border-right: none;
            border-left: none;
            border-top: 1px @verde solid;
            border-bottom: 1px @verde solid;
            padding: 5px 0;
            &:before{
              content: "RECEBIDO EM";
              .opensans(13px, bold);
              color:@verde;
            }
          }
        }
      }
      &:first-child{
        .data{
          position: relative;
          &:after{
            content: "RECEBIMENTO";
            .opensans(13px, bold);
            color:@verde;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
          }
        }
        .revisar{
          position: relative;
          &:after{
            content: "REVISÃO";
            .opensans(13px, bold);
            color:@verde;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
          }
        }
        @media @small{
          .data:after,
          .revisar:after{
            display:none;
          }
        }
      }

      .revisar{
        .inline;
        width: 20%;
        @media @medium{
          width: 25%;
        }
        a{
          width: 100%;
          box-sizing: border-box;
          border-right: 1px @verde solid;
          display: block;
          background: url('/images/icone-upload.png') @verde_claro 15px center no-repeat;
          padding: 8px 10px 0 60px;
          height: 60px;
          line-height: 140%;
          .opensans(16px, bold);
          color:#fff;
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@verde;
          }
        }
        @media @small{
          width: 100%;
          a{
            padding: 20px 8px 0 50px;
            background-position: 10px center;
          }
        }
      }

      .distribuir{
        .inline;
        width: 20%;
        @media @medium{
          width: 25%;
        }
        a{
          width: 100%;
          box-sizing: border-box;
          display: block;
          background: url('/images/seta-branca.png') @verde_claro 15px center no-repeat;
          padding: 8px 10px 0 60px;
          height: 60px;
          line-height: 140%;
          .opensans(16px, bold);
          color:#fff;
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@verde;
          }
        }
        @media @small{
          width: 100%;
          a{
            padding: 20px 8px 0 50px;
            background-position: 10px center;
          }
        }
      }
      .remover{
        width: 12.002%;
        .inline;
        @media @medium{
          width: 17.002%;
        }
        a{
          width: 100%;
          border-left: 1px @verde solid;
          box-sizing: border-box;
          display: block;
          background: url('/images/img-excluir.png') @vermelho 15px center no-repeat;
          padding: 0 10px 0 50px;
          color: #fff;
          height: 60px;
          line-height: 60px;
          .opensans(16px, bold);
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@verde;
          }
        }
        @media @small{
          width: 100%;
          a{
            padding: 0 6px 0 40px;
            background-position: 10px center;
          }
        }
      }


      .coordenador-nome{
        width: 40%;
        .inline;
        span{
          text-transform: uppercase;
          .opensans(16px);
          color: @verde;
          display: block;
          height: 60px;
          line-height: 60px;
          box-sizing: border-box;
          padding: 0 20px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        @media @small{
          width: 100%;
          border-bottom: 1px @verde solid;

        }
      }
      &:first-child{
        .coordenador-nome{
          position: relative;
          &:after{
            content: "COORDENADOR";
            .opensans(13px, bold);
            color:@verde;
            position: absolute;
            top:0;
            left: 20px;
            transform: translateY(-170%);
            @media @small{display:none;}
          }
        }
      }
      .coordenador-envio{
        width: 20%;
        .inline;
        span{
          display: block;
          border-left: 1px @verde solid;
          .opensans(16px);
          color: @verde;
          height: 60px;
          line-height: 60px;
          text-align: center;
          box-sizing: border-box;
          padding: 0 20px;
          strong{
            color: @vermelho;
            font-weight: bold;
          }
        }
        @media @small{
          width: 100%;
          span{
            border-left: none;
            height: auto;
            line-height: 140%;
            padding: 0 0 10px 0;
          }
          &:before{
            content: attr(data-label);
            .opensans(13px, bold);
            color:@verde;
            width: 100%;
            text-align: center;
            display: block;
            padding: 5px 0 0 0;
          }
        }
      }
      &:first-child{
        .coordenador-envio{
          position: relative;
          &:after{
            content: attr(data-label);
            .opensans(13px, bold);
            color:@verde;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
            @media @small{
              display: none;
            }
          }
        }
      }


      .avaliacao-codigo{
        .inline;
        width: 28%;
        span{
          text-transform: uppercase;
          .opensans(16px);
          color: @verde;
          display: block;
          height: 60px;
          line-height: 60px;
          box-sizing: border-box;
          padding: 0 20px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        @media @small{
          width: 100%;
          border-bottom: 1px @verde solid;
        }
      }


      .avaliacao-status{
        .inline;
        width: 12%;
        span{
          line-height: 130%;
          text-align: center;
          height: 60px;
          border-left: 1px @verde solid;
          display: block;
          color: @cinza;
          .opensans(14px, bold);
          padding: 10px;
          box-sizing: border-box;
          &.pendente{
            padding: 0;
            line-height: 60px;
            color: @vermelho;
            text-align: center;
          }
          &.disabled{
            background: @cinza_claro;
            height: 60px;
            width: 100%;
            small{display: none;}
          }
        }
        @media @small{
          width: 100%;
          span{
            height: auto;
            border-left: none;
            padding: 5px;
            &.pendente,
            &.disabled{
              padding: 5px;
              height: auto;
              line-height: 120%;
              background:#fff;
              small{display: block;}
            }
            br{display:none;}
          }
          &:before{
            content: attr(data-label);
            .opensans(13px, bold);
            color:@verde;
            float:left;
            padding: 5px;
          }
        }
      }
      &:first-child{
        .avaliacao-status{
          position: relative;
          &:after{
            content: attr(data-label);
            .opensans(13px, bold);
            color:@verde;
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            text-align: center;
            transform: translateY(-170%);
            @media @small{
              display: none;
            }
          }
        }
      }

      .ranking-item{
        .inline;
        .opensans(16px);
        color:@verde;
        border-left: 1px @verde solid;
        &:first-child{border-left: none;}
        p{
          padding: 10px;
          color: @verde;
          font-size: 14px;
          line-height: 135%;
          margin: 0;
          &.vazio{
            padding: 15px 10px;
            line-height: 30px;
            font-size: 18px;
          }
        }
        span{
          padding: 15px 10px;
          box-sizing: border-box;
          min-height: 60px;
          display: block;
        }
      }

      .ranking-contador{
        width: 5%;
        text-align: center;
        span{
          &:after{
            counter-increment: ranking;
            color:@verde_claro;
            .opensans(28px, bold);
            content: counter(ranking);
          }
        }
      }
      .ranking-codigo{
        width: 15%;
        span{
          font-size: 18px;
          line-height: 30px;
        }
      }
      .ranking-autor{
        width: 25%;
        span{
          font-size: 18px;
          line-height: 30px;
        }
      }
      .ranking-coautores{
        width: 25%;
      }
      .ranking-coordenador{
        width: 20%;
        span{
          font-size: 18px;
          line-height: 30px;
        }
      }
      .ranking-pontos{
        width: 10%;
        span{
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          font-weight: bold;
          color:@cinza_escuro;
        }
      }
      &:first-child{
        .ranking-item{
          position: relative;
          &:after{
            content: attr(data-label);
            .opensans(11px, bold);
            color:@verde;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            padding: 0 10px;
            transform: translateY(-170%);
            @media @small{display:none;}
          }
        }
      }

      @media @small{
        .ranking-item{
          border: none;
          &:before{
            content: attr(data-label);
            .opensans(11px, bold);
            color:@verde;
            padding-left: 10px;
          }
          span{
            padding: 10px;
          }
        }
        .ranking-contador{width:20%;}
        .ranking-codigo{width:80%;}
        .ranking-autor{width:100%;}
        .ranking-coautores{width:100%;}
        .ranking-coordenador{width:100%;}
        .ranking-pontos{width:100%;}
      }
    }
  }

  .lista-usuarios{
    width: 100%;
    border: 1px @verde solid;
    tr{
      th, td{
        border: 1px @verde solid;
        padding: 7px;
        background: #fff;
        .opensans(12px);
        color:@cinza;
        strong{
          font-weight: bold;
          &.vermelho{color:@vermelho;}
          &.verde{color:@verde;}
        }
      }
      th{
        font-weight: bold;
      }
      td.status{
        text-align: center;
        a{
          .inline;
          padding: 5px 10px;
          margin-top: 5px;
          border: 1px @verde solid;
          transition: all .3s ease-in-out;
          background:#fff;
          color:@verde;
          border-radius: 4px;
          &:active, &:visited{color:@verde;}
          &:hover{
            background:@verde;
            color:#fff;
          }
        }
      }
    }
  }
}

.confirm-box{
  background: #fff;
  padding: 30px 50px;
  p{
    font-size: 18px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    &.code{
      strong{
        font-weight: bold;
      }
    }
  }
  .controles{
    padding-top: 20px;
    border-top: 1px @cinza solid;
    user-select: none;
    .botao-voltar{
      .inline;
      padding: 10px 20px;
      border: 1px @verde solid;
      .opensans(15px, bold);
      color:@cinza;
      transition: all .3s ease-in;
      &:active, &:visited{color:@cinza;}
      &:hover{
        color:#fff;
        background: @cinza;
      }
    }
    .botao-envio{
      cursor: pointer;
      float:right;
      .inline;
      padding: 10px 20px;
      border: 1px @verde solid;
      .opensans(15px, bold);
      color: #fff;
      background: @verde;
      transition: all .3s ease-in;
      &:active, &:visited{color:#fff;}
      &:hover{
        background: @verde_claro;
        color:@verde;
      }
    }
    .botao-remover{
      cursor: pointer;
      float:right;
      .inline;
      padding: 10px 20px;
      border: 1px @verde solid;
      .opensans(15px, bold);
      color: #fff;
      background: @vermelho;
      transition: all .3s ease-in;
      &:active, &:visited{color:#fff;}
      &:hover{
        background: @verde;
        color:#fff;
      }
    }
  }
}
