.conteudo-submeter-caso{
  text-align: center;
  min-height: 400px;
  p{
    color: @cinza;
    line-height: 150%;
    .opensans(16px);
    strong{font-weight: bold;}
    &.small{
      font-size: 14px;
    }
    a{
      color: @cinza;
      font-weight: bold;
      &:active, &:visited{color: @cinza;}
      &:hover{color:@verde;}
    }
  }
  a.download-link{
    .inline;
    margin: 40px 0 30px 0;
    padding: 0 50px;
    border: 1px @verde solid;
    text-align: center;
    line-height: 60px;
    background: #fff;
    color: @verde;
    .opensans(16px, bold);
    transition: all .3s ease-in-out;
    span{
      height: 39px;
      padding: 8px 15px 13px 0;
      .inline;
    }
    &:hover{
      background: @verde;
      color: @verde_claro;
      border-color: @verde_claro;
    }
    @media @small{
      padding: 0;
      display: block;
    }
  }
}

.botoes-envio{
  font-size: 0;
  padding: 20px 0 60px 0;
  .box{
    .inline;
    width: 33%;
    @media @small{
      width: 100%;
      margin-bottom: 3px;
    }
    .casoEnviado,
    .prazoExpirado{
      display: block;
      padding: 30px;
      height: 255px;
      box-sizing: border-box;
      position: relative;
      p{
        color:#fff;
        padding: 0 30px;
        text-align: center;
        display: block;
        margin: 0;
        line-height: 180%;
        .opensans(16px);
        position: relative;
        top: 20%;
        &.cant-submit{
          padding: 0;
          top: 0;
          a {
            color: #fff;
            border: 0;
            display: inline;
            background: transparent;
            padding: 0;
            transition: all .3s ease-in;
            &:active, &:visited{color: #fff;}
            &:hover{color:@cinza_escuro;}
          }
        }
      }
    }
    .casoEnviado{
      background: @verde;
      border: 1px @verde solid;
    }
    .prazoExpirado{
      background: @vermelho;
      border: 1px @vermelho solid;
    }
    a{
      border: 1px @verde solid;
      display: block;
      padding: 30px;
      background: #fff;
      transition: background .3s ease-in-out;
      h3{
        .opensans(14px, bold);
        color: @vermelho;
        transition: color .3s ease-in-out;
      }
      p{
        margin: 10px 0 20px 0;
        line-height: 140%;
        color:@cinza;
        .opensans(13px);
        padding: 0 25px;
        transition: color .3s ease-in-out;
      }
      .botao{
        span{
          .inline;
          vertical-align: middle;
          img{
            margin-right: 10px;
          }
        }
        padding-top: 15px;
        border-top: 1px @verde solid;
        color:@verde;
        transition: all .3s ease-in-out;
        .opensans(16px, bold);
      }
      &:hover{
        background: @vermelho;
        h3{color: #fff;}
        p{color: #fff;}
        .botao{
          color:#fff;
          border-color: #fff;
        }
      }
    }
    &:first-child{
      .casoEnviado,
      .prazoExpirado{
        border-right: none;
      }
      a{
        border-right: none;
        @media @small{
          border-right: 1px @verde solid;;
        }
      }
    }    
    &:last-child{
      a{
        border-left: none;
      }
      .casoEnviado,
      .prazoExpirado{
        border-left-color: #fff;
      }
    }
  }
}

.formCaso{
  background: #fff;
  padding: 45px 70px;
  @media @small{
    padding: 15px 5px;
  }
  max-width: 740px;
  width: 100%;
  box-sizing: border-box;
  color: @verde;
  .opensans(16px);
  h2{
    text-align: center;
    color: @verde;
    .opensans(16px, bold);
    margin-bottom: 15px;
    span{color: @vermelho;}
  }
  .input-arquivo{
    height: 40px;
    line-height: 40px;
    border: 1px @verde solid;
    margin-bottom: 10px;
    position: relative;
    label{
      position: absolute;
      z-index: 4;
      width: 100%;
      background: #fff;
      cursor: pointer;
      .placeholder{
        padding-left: 15px;
        max-width: 60%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .inline;
        @media @small{
          max-width: 30%;
        }
      }
      .botao{
        float: right;
        height: 40px;
        line-height: 40px;
        color:#fff;
        background:@verde;
        border-left: 1px @verde solid;
        font-weight: bold;
        padding: 0 15px;
        transition: all .3s ease-in-out;
      }
      &:hover .botao{
        background: @verde_claro;
        color:@verde;
      }
    }
    input[type="file"]{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  p{
    color:@cinza;
    .opensans(13px);
    line-height: 130%;
    margin: 10px 0;
  }
  textarea{
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 200px;
    line-height: 130%;
    border: 1px @verde solid;
    margin-bottom: 10px;
    padding: 10px 15px;
    color:@verde;
    resize: none;
    overflow: auto;
    max-width: 100%;
    width: 600px;
    .placeholder(@cinza);
    .opensans(16px);
  }
  input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 1px @verde solid;
    margin-bottom: 10px;
    padding: 0 15px;
    color:@verde;
    .placeholder(@cinza);
    .opensans(16px);
  }
  input[type="submit"]{
    cursor: pointer;
    border: 1px @verde solid;
    height: 60px;
    line-height: 60px;
    .opensans(20px, bold);
    text-align: center;
    color:#fff;
    transition: all .3s ease-in-out;
    background: @vermelho;
    width: 100%;
    &:hover{
      color:@verde;
      background: @verde_claro;
    }
  }
}

.alerta{
  display: block;
  text-align: center;
  line-height: 140%;
  .opensans(16px);
  margin: 20px 0;
  padding: 15px;
  &.alerta-erro{
    background: @vermelho;
    color: #fff;
  }
  &.alerta-sucesso{
    background: @verde_claro;
    color: #fff;
  }
}
