.conteudo-home{
  text-align: center;
  p{
    color:@cinza;
    .opensans(18px);
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 700px;    
    line-height: 160%;
    i{
      font-style: italic;
    }
  }
  .box-objetivos{
    padding: 40px 0 0 0;
    h2{
      .opensans(22px);
      font-weight: bold;
      color:@vermelho;
    }
    p{
      .opensans(16px);
      margin-top: 10px;
      margin-bottom: 15px;
      line-height: 150%;
    }
  }
}

.conteudo-regulamento{
  .opensans(16px);
  color:@cinza;
  h2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
  }
  h3{
    font-weight: bold;
  }
  p{
    line-height: 150%;
    margin: 20px 0;
  }
  strong{
    font-weight: bold;
  }  
  small{
    display: block;
    line-height: 140%;
    font-size: 12px;
  }
  a{
    text-decoration: underline;
    color:@azul;
    transition: color .3s ease-in-out;
    &:active, &:visited{color:@azul;}
    &:hover{color:@verde;}
  }
  i{
    font-style: italic;
  }
  ul{list-style-type: disc;}
  ol{list-style-type: decimal;}
  ul, ol{
    line-height: 150%;
    margin: 20px 0;
    list-style-position: inside;
    li{
      margin: 10px 0;
      ul{
        padding-left: 30px;
      }
    }
  }
}

.conteudo-cronograma{
  .lista-cronograma{
    padding-bottom: 70px;
    .linha{
      font-size: 0;
      border-bottom: 1px @verde solid;
      padding: 10px 0;
      margin-bottom: 5px;
      &:last-child{
        border:none;
      }
      .data{
        .inline;
        width: 30%;
        text-align: right;
        span{
          line-height: 150%;
          color:@cinza;
          .opensans(16px, bold);
        }
      }
      .texto{
        .inline;
        width: 70%;
        p{
          line-height: 150%;
          padding: 0 30px;
          color:@cinza;
          .opensans(16px);
        }
      }
    }
    p.aviso{
      display: block;
      margin-top: 50px;
      color:@cinza;
      .opensans(12px);
    }
  }
}

.conteudo-avaliadores{
  h2{
    text-align: center;
    color:@cinza;
    .opensans(22px, bold);
  }
  .lista-avaliadores{
    padding-top: 20px;
    padding-bottom: 70px;
    .linha{
      .opensans(0px);
      border-bottom: 1px @verde solid;
      padding: 10px 0;
      margin-bottom: 5px;
      color:@cinza;
      &:first-child{
        border-top: 1px @verde solid;
      }
      .nome, .crm, .local{
        .inline;
        font-size: 16px;
      }
      .nome{
        width: 50%;
        text-indent: 150px;
      }
      .crm{
        text-align: center;
        width: 25%;
      }
      .local{
        width: 25%;
      }
      @media @small{
        .nome{
          width: 33%;
          text-indent: 0px;
        }
        .crm{
          text-align: center;
          width: 33%;
        }
        .local{
          width: 33%;
        }
      }
    }
  }
}
