.conteudo-login{
  p{
    display: block;
    text-align: center;
    color: @cinza_escuro;
    line-height: 140%;
    strong{font-weight: bold;}
    .opensans(16px);
    &.alerta{
      margin: 20px 0;
      padding: 15px;
      &.alerta-erro{
        background: @vermelho;
        color: #fff;
      }
      &.alerta-sucesso{
        background: @verde_claro;
        color: #fff;
      }
    }
  }
  .form-register,
  .form-login{
    padding: 90px 0 230px 0;
    text-align: center;
    @media @small{
      padding: 40px 0;
    }
    form{
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 500px;
      padding-bottom: 40px;
      input{
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: 0;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: @cinza_escuro;
        .opensans(14px);
      }
      input[type="email"]{}
      input[type="password"]{
        margin-top: 2px;
      }
      input[type="submit"]{
        font-size: 16px;
        margin-top: 5px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        background: @verde;
        color:#fff;
        font-weight: bold;
        &:hover{
          background:@verde_claro;
        }
      }
    }
    a.recuperar-senha{
      .opensans(13px);
      color: @cinza;
			transition: all .3s ease-in-out;
			&:active, &:visited{color: @cinza;}
			&:hover{color:@verde;}
    }
  }

  .form-register{
    padding: 40px 0 280px 0;
    form{
      margin-top: 20px;
    }
  }

}
