body{
  position: relative;

  .modal{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 997;
    .backdrop{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.8);
      z-index: 998;
    }
    .modal-conteudo{
      .inline;
      position: relative;
      z-index: 999;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 100%;
    }
  }
}
