[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.faixa-topo{
	height: 10px;
	font-size: 0;
	position: relative;
	.metade{
		height: 10px;
		.inline;
		width: 50%;
		&.verde{background-color:@verde;}
		&.vermelho{background-color:@vermelho;}
	}
	.centro{
		position: absolute;
		height: 10px;
		width: 100%;
		max-width: 640px;
		left: 50%;
		top:0;
		transform: translateX(-50%);
		&.verde-claro{background-color:@verde_claro;}
	}
}

.faixa-usuario{
	height: 38px;
  font-size: 0;
  .nome{
		.opensans(16px);
		height: 38px;
		line-height: 38px;
		float:right;
		padding: 0 20px;
		text-transform: uppercase;
    @media @small{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 60%;
      box-sizing: border-box;
    }
	}
	a{
		.opensans(15px, bold);
		height: 38px;
		line-height: 38px;
		float:right;
		transition: all .3s ease-out;
		padding: 0 10px;
    @media @small{
      max-width: 40%;
      box-sizing: border-box;
    }
	}
	&.faixa-medico{
		background-color:@azul_claro;
		.nome{color:@verde;}
		a{
			background-color:@verde;
			color:#fff;
			&:active, &:visited{color:#fff;}
			&:hover{background:@vermelho;}
		}
	}
	&.faixa-coordenador{
		background-color:@azul_claro;
		.nome{color:@verde;}
		a{
			background-color:@verde;
			color:#fff;
			&:active, &:visited{color:#fff;}
			&:hover{background:@vermelho;}
		}
	}
	&.faixa-avaliador{
		background-color:@musgo;
		.nome{color:#fff;}
		a{
			background-color:@verde_claro;
			color: @verde;
			&:active, &:visited{color: @verde;}
			&:hover{color:#fff; background:@vermelho;}
		}
	}
	&.faixa-admin{
		background-color:@verde;
		.nome{color:#fff;}
		a{
			background-color:@verde_claro;
			color: @verde;
			&:active, &:visited{color: @verde;}
			&:hover{color:#fff; background:@vermelho;}
		}
	}
}

header{
	.topo{
		height: 95px;
		.marca-academia{
			float:left;
			padding: 16px 0;
		}
		.marca-clear{
			float:right;
			padding: 32px 0;
		}
		img{
			display: block;
			max-width: 100%;
		}
	}
	.titulo{
		clear: both;
		display: block;
		width: 100%;
		text-align: center;
		h1{
			.inline;
			.opensans(36px, 300);
			border-top: 1px @azul_claro solid;
			padding: 35px 80px;
			color: @verde;
      line-height: 125%;
      @media @small{
        padding: 20px 10px;
      }
		}
	}
  @media @small{
    .topo{
      height: auto;
      .marca-academia,
      .marca-clear{
        float:none;
        img{
          margin: 0 auto;
        }
      }
    }
  }
}

nav{
	margin-top: -15px;
  @media @small{
    margin-top: 0;
  }
	ul{
		font-size: 0;
		li{
			.inline;
			width: 25%;
			box-sizing: border-box;
      @media @small{
        width: 100%;
      }
			a{
				font-weight: bold;
				position: relative;
				font-size: 16px;
				text-align: center;
				background: #fff;
				box-sizing: border-box;
				display: block;
				border-top: 1px @vermelho solid;
				border-left: 1px @vermelho solid;
				border-bottom: 1px @vermelho solid;
        @media @small{
          border-top: 1px @vermelho solid;
          border-left: 1px @vermelho solid;
          border-right: 1px @vermelho solid;
          border-bottom: none;
        }
				height: 60px;
				color:@verde;
				transition: all .3s ease-in-out;
				.opensans(16px, bold);
				&:active, &:visited{color:@verde;}
				&:hover, &.ativo{
					color:#fff;
					background: @vermelho;
				}
				span{
					line-height: 140%;
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}
			&:last-child{
				border-right: 1px @vermelho solid;
        @media @small{
          border-right: none;
          border-bottom:  1px @vermelho solid;
        }
			}
		}
	}
}

.conteudo{
	padding: 85px 0;
	background: @azul_claro;
	&.com-recuoo{margin-top:-30px;}
}

footer{
	padding: 20px 0 60px 0;
	border-top: 2px @vermelho solid;
	.marca-academia{
		width: 190px;
		float: left;
	}
	.marca-novartis{
		padding: 3px 55px 0 0;
		float: right;
	}
	img{
		display: block;
		max-width: 100%;
	}

  @media @small{
    .marca-academia,
    .marca-novartis{
      width: 100%;
      float:none;
      padding: 0;
      img{
        max-width: 150px;
        margin: 0 auto 20px auto;
      }
    }
  }

	p{
		display: block;
		text-align: center;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		line-height: 150%;
		color: @cinza;
		.opensans(12px);
		a{
			color: @cinza;
			font-weight: bold;
			transition: all .3s ease-in-out;
			&:active, &:visited{color: @cinza;}
			&:hover{color:@verde;}
		}
	}
}

.centralizar{
	margin: 0 auto;
	width: 100%;
  position: relative;
  box-sizing: border-box;
  max-width: 1220px;
  padding: 0 10px;
  &.com-colunas{
    font-size: 0;
  }
	&.reduzido{
		max-width: 850px;
	}
	@media @small{
    max-width: 620px;
  }
  @media @medium{
    max-width: 920px;
  }
  .coluna{
    .inline;
    box-sizing: border-box;
		&.coluna-50{
			width: 50%;
			@media @small{
	      width: 100%;
	    }
		}
    &.coluna-55{
			width: 55%;
			@media @small{
	      width: 100%;
	    }
		}
    &.coluna-45{
			width: 45%;
			@media @small{
	      width: 100%;
	    }
		}
		&.coluna-33{
			width: 33%;
			@media @small{
	      width: 100%;
	    }
		}
		&.coluna-25{
			width: 25%;
			@media @small{
	      width: 50%;
	    }
		}
    &.coluna-16{
      width: 16.66%;
      @media @small{
	      width: 50%;
	    }
    }
  }
}
